body{
    background-color: #1e1e1e;
}

a{
    cursor: pointer;
}

.hdr{
    width: 100%;
    height: 60px;
    background-color: #fff; 
    display: flex;
    justify-content: space-between;  
}

.hdr-logo{
    width: fit-content;
    height: 100%;
    padding-left: 15px;
    display: flex;
   
}

.hdr-logo img {
    height: 60px;
    align-self: center;

}

.hdr-nav{
    width: fit-content;
    height: 100%;
    
}

.hdr-nav ul{
    list-style: none;
    margin-left: 20px;
  
}

.hdr-nav ul li {
    display: inline;
    float: left;
   

}

.hdr-nav ul li a {
    padding: 0 10px;
    font-family: Helvetica, sans-serif;
    line-height: 60px;
    color: #000;
    display: block;
    height: 100%;

}

.hdr-nav ul li a:hover {
    color: #087331;
    

}

.hdr-sm{
    width: 120px;
    height: 100%;
    padding-right: 60px;
}


